* {

  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;


}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /*vh- altura viewport (janela de exibição)*/
  width: 100vh;
  background-color: #000000; /*É importante uma cor de fundo, pois o conteúdo (texto, por exemplo.) é carregado primeiro, depois as imagens, então o ideal é não mostrar o site com o fundo branco e depois a imagem de fundo, para que o usuário possa ir consumindo o conteúdo.*/
  background-image: url(img/6.webp);
  background-repeat: repeat;
  overflow: auto;
 
  /*background-position: center ;
  background-size: cover; /*Ele vai cobrir a tela inteira, mesmo que pra isso ele corte um pouco aslaterais da tela. Ele se adpita de acordo com o tamanho da janela da viewport. Ele não exibi 100% da imagem mas ocupa 100% da viewport. */
/*background-size: contain; /*Ele da ordem para mostrar 100% exibida, ou seja, a imagem não pode ter corte nenhum  */
  /*background-size: 100% 100%;/*Aqui mexemos com o tamanho da imagem. Ao colocar 100% duas vezes, estou mudando as duas dimenssões (largura e altura).*/
  
  /* background: linear-gradient(72deg, #e0dac1 25%, #eedba2, #e6dc8f 99%); */
  /* background-attachment: fixed; */
 


}

#menu-locais { /* Franquias (Saão Paulo-Rio de Janeiro-Belo Horizonte */
  /*--Menu locais--*/
  border-bottom: 2px solid #f3b655;
  /*Aplicando borda somente em baixo, sem aplicar nas laterais*/
  border-top: 2px solid #f3b655;
  /*Aplicando borda somente em cima, sem aplicar nas laterais*/
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: #f3b655;
  position: absolute;
  top: 7%;
  right: 5.5%;

}
.locais{
  color: #f3b655;
}
.agendamento {
  position: absolute;
  top: 200%;
  right: 11%;
  text-transform: uppercase;

}

a {
  text-decoration: none;
  /* letter-spacing: 0.2em; Espaço entre letras */
 
}

#menu {
  /*---Nav---*/
  position: absolute;
  top: 30%;
  right: 1%;
  
}

ul#navegacao a {
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 8px;
  color: #000000;
  line-height: 30px;
margin-left: 10px; /* Espaço entre as palavras da home*/

 }

ul#navegacao li a {
  text-transform: uppercase;
  font-size: 0.9em; /*Tamanho da fonte menu (home-sobre nós-contato-localização)*/
  padding: 8px; /* Espaçamento interno menu*/
  color: #f3b655; /*Cor da fonte menu*/
  line-height: 10px;/* Altura da linha*/
  white-space: nowrap; /* Quebra de linha no texto*/
 
}



.container {
  background-color: #000000;
  margin: 0 auto;
  max-width: 1496px;
  width: 100%;
  padding: 0 38px;

}

p {
  position: absolute;
  top: 95%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
}

header{

  /* border: 4px solid rgb(242, 223, 171); */
  border: 4px solid #ab905e;
  width: 218vh;
  height: 40%;
  background-color: black;
  background-image: url(img/luxury\ 2.jpg);
  background-repeat: repeat;
  background-size: 100vh;
  background-position: center;
 
}


.logo {
  position: absolute;
  width: 350px;
  height: auto;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: 'Lobster';


}
section, h2{
  color: white; /*Cor da fonte*/
  font-size: 70px;
  top: 65%;
  left: 50%;
}

/*DIV PROFISSIONAIS*/
#profissionais {
  display: flex;
  /* a partir daqui podemos manipular todos os elementos filhos  */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Ele faz com que as divs quebre para a proxima linha as divs (img) ao adicionar mais, em vez de diminuir as mesmas. */

}

#profissionais {
  /*POSIÇÃO DAS DIVS*/
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}

#profissionais,
.elemento .prof {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;



}
/*.elemento { AQUI APLICA O EFEITO ZOOM.
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
}*/


.elemento img {
  width: 150px;
  display: block;
  padding: 10px 10px;
transition: all 0.5s linear;
border-radius: 10px;

}

.elemento img:hover {
  box-shadow: 0 0 5px #010100;
  border: 0.5px solid #555b2d;
  scale: 1.5;
  padding: 0 0 0 0;
 
}


.content {
  height: 500px;
  width: 750px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content .slide img {
  height: 100%;
  width: 100%;
}

.navigation {
  position: absolute;
  top: 214%;
  left: 760px;
  transform: translate(-50%, -50%);
  display: flex;

}

.bar {
  width: 20px;
  height: 10px;
  border: 2px solid white;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.bar:hover {
  background-color: #ffff;
}

.slides input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -20%;
}

#slide3:checked~.s1 {
  margin-left: -40%;
}

#slide4:checked~.s1 {
  margin-left: -60%;
}

#slide4:checked~.s1 {
  margin-left: -80%;
}


ul {
  display: flex;
  list-style-type: none;
  padding: 16px;
  position: absolute;
  right: 0%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  margin-top: 8px;
  font: bold;
  
}

/***************************/

ul#navegacao a:hover {
  background: #000000;
  border-radius: 20px;
  border: 2px solid;
}


.content-whatsapp,
#figura-whatsapp {
  width: 220px;
}

#figura-whatsapp {
  position: fixed;
  right: 8px;
  bottom: 20px;
  width: 190px;
}

/*********Inicio do Formulário***********/

form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 300px;
  margin: 20px;
  /* Adicionado para separar o formulário do botão fixo */
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button { /*Fonte botão agendamento*/
  background-color: #000000;
  color: #f3b655;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 20px;
  text-transform: uppercase;

}


button:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid;
}

/* .hidden {
  display: none;
} */

.btn-agendar {
  position: absolute;
  margin-top: 225px;
  left: 50%;
  transform: translate(-50%);
  width: 110px;
  height: auto;
  text-transform: none;
}

.agendar {
  background-color: #f3ecec;
  color: #e2cc07;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 20px;

}

/*********Fim do Formulário***********/

/* footer{
  border: 4px solid rgb(242, 223, 171);
  width: 216vh;
  height: 40%;
  
  position: absolute;
  background-color: black;
  background-image: url(img/luxury\ 2.jpg);
  background-repeat: repeat;
  
  background-position: center;

} */

.footer {
  text-align: center;
  position: absolute;
  margin-top: 60em;
  font-size: 20px;
  color: #fff;
  /* background-image: url(img/luxury\ 2.jpg); */
  /* background-repeat: repeat;
  background-position: center;
  /* border: 4px solid rgb(242, 223, 171); */
  /* width: 216vh;
  height: 5%; */
   
}



.logo-radape {
  position: absolute;
  margin-top: 85em;
  width: 250px;
  left: 50%;
  transform: translate(-50%);

}




